body {
    font-family: 'Arial', sans-serif;
    background-color: #674188 ;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.quiz-container {
    background-color: #f7efe5;
    border-radius: 15px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    padding: 30px;
    text-align: center;
    transition: transform 0.3s ease;
}

.quiz-container:hover {
    transform: scale(1.03);
}

h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 20px;
    font-weight: 600;
}

#options {
    margin-bottom: 30px;
}

.option-button {
    background-color: #c8a1e0;
    color: white;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    width: 100%;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.option-button:hover {
    background-color: #e2bfd9;
    transform: translateY(-3px);
}

#next-button {
    background-color: #674188;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-weight: 600;
}

#next-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#next-button:hover {
    background-color: #e2bfd9;
    transform: translateY(-3px);
}

.thank-you {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    border: 2px solid #e2bfd9;
    border-radius: 10px;
    background-color: #f4f4f9;
    width: 60%;
    margin: 0 auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}




@media screen and (max-width: 600px) {
    .quiz-container {
        padding: 20px;
        width: 90%;
    }
    
    h2 {
        font-size: 1.6rem;
    }

    .option-button {
        font-size: 1rem;
        padding: 12px;
    }

    #next-button {
        font-size: 1.1rem;
        padding: 12px;
    }
}